@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
}

nav {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    box-sizing: border-box;
    background: white;
    height: 80px;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

.checkbtn {
    font-size: 30px;
    color: rgb(92, 205, 158);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.logo {
    color: rgb(92, 205, 158);
    font-size: 30px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 80px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(54, 54, 54);
    font-size: 14px;
    text-transform: uppercase;
}

.active,
nav ul li a:hover {
    color: rgb(92, 205, 158);
    transition: .5s;
}

.intro-img {
    width: 400px;
    height: 400px;
}

.container {
    max-width: 90%;
    margin: 0 5%;
    font-family: 'Montserrat', sans-serif;
}

.container h1 {
    font-size: 45px;
    text-transform: uppercase;
}

.container p {
    font-size: 16px;
    color: rgb(77, 76, 76);
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    height: 500px;
}

.half_width {
    width: 40%;
}

.h_one {
    margin-top: 70px;
}

.title {
    color: rgb(92, 205, 158);
    padding: 10px;
    font-size: 500;
}

.half_width p {
    padding: 10px;
}

.intro button {
    margin-top: 40px;
}

.highlight {
    color: rgb(53, 53, 53);
    font-weight: 700;
}

.cart-btn {
    padding: 9px 25px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    background-color: rgb(92, 205, 158);
    cursor: pointer;
    transition: all 0.3s ease 0;
}

.cart-btn:hover {
    background-color: rgb(58, 170, 123);
}

.cart-btn:focus {
    outline: none;
    box-shadow: none;
}

.cart-btn i {
    padding-right: 5px;
}

.btn {
    padding: 10px 25px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    border-radius: 10px;
    background-color: rgb(92, 205, 158);
    cursor: pointer;
    transition: all 0.3s ease 0;
    color: white;
    margin-left: 10px;
}

.p-btn {
    padding: 5px 10px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    border-radius: 5px;
    background-color: rgb(92, 205, 158);
    cursor: pointer;
    transition: all 0.3s ease 0;
    color: white;
    margin-bottom: 0;
}

.btn:hover {
    background-color: rgb(58, 170, 123);
}

.p-btn:hover {
    background-color: rgb(58, 170, 123);
}

.btn,
.p-btn:focus {
    outline: none;
    box-shadow: none;
}

.p-btn i {
    padding-right: 5px;
}

.category_card {
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
    margin-bottom: 20px;
}

.h_two {
    padding-top: 70px;
    padding-bottom: 70px;
}

.card {
    display: inline-flex;
    width: 30%;
    height: 180px;
    border-radius: 10px;
    background-color: rgb(92, 205, 158);
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.card h2 {
    color: white;
    font-size: 25px;
    padding-left: 10px;
}

.card img {
    width: 130px;
    height: 130px;
}

.shop_header {
    display: flex;
    justify-content: space-between;
    margin-right: 32px;
    margin-left: 32px;
    margin-bottom: 20px;
}

.shop_header h2 {
    color: rgb(59, 59, 59);
}

.shop {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.product {
    border: 1px solid rgb(221, 221, 221);
    width: 18%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
    border-radius: 10px;
}

.product:hover {
    border: 1px solid rgb(92, 205, 158);
}

.product a:hover {
    color: rgb(92, 205, 158);
}

.product button {
    margin-left: auto;
}

.product a {
    text-decoration: none;
    font-size: 18px;
    color: rgb(82, 81, 81);
    margin-bottom: auto;
    margin-top: 25px;
}

.product p {
    margin-bottom: auto;
}

.product img {
    cursor: pointer;
    width: 100%;
}

.product p {
    color: rgb(92, 205, 158);
    font-weight: bold;
}

.bottom-section {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 20px 5%;
    border: 2px solid slateblue;
    font-family: 'Montserrat', sans-serif;
}

.part-one {
    width: 50%;
}

.part-one img {
    width: 80px;
}

.each-service {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.part-two {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.part-two img {
    width: 100%;
}


/* .features {
    margin-top: 30px;
    display: flex;
    height: 400px;
}

.f-icon h2 {
    font-size: 20px;
    color: rgb(65, 65, 65);
}

.f-icon p {
    font-size: 14px;
}

.f-width {
    width: 50%;
}

.features img {
    width: 80%;
    padding: 0 30px;
}

.f-icon {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.f-icon img {
    width: 40%;
}

.item-align {
    justify-content: center;
    align-items: center;
} */

@media (max-width: 1200px) {
    .logo {
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 1024px) {
    .logo {
        font-size: 22px;
    }
    nav ul li a {
        font-size: 14px;
    }
    nav ul li {
        margin: 0;
        padding-left: 5px;
    }
    .intro-img {
        width: 230px;
        height: 230px;
    }
    .container h1 {
        font-size: 23px;
    }
    .container p {
        font-size: 14px;
    }
    .intro button {
        padding: 8px 16px;
        font-size: 16px;
    }
    .intro {
        margin-top: 5px;
    }
    .category_card {
        display: flex;
        justify-content: center;
        margin-top: 0;
    }
    .category_card img {
        width: 80px;
        height: 80px;
    }
    .category_card h2 {
        font-size: 18px;
    }
    .card {
        width: 30%;
        height: 100px;
        margin-left: 10px;
    }
    .shop {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .product {
        margin-bottom: 20px;
        width: 35%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .product img {
        padding-left: 20px;
        padding-right: 20px;
        width: 200px;
        height: 200px;
    }
    .product p {
        margin-right: auto;
        padding-left: 10px;
        font-size: 20px;
    }
    .product a {
        margin-right: auto;
        font-size: 18px;
        padding-left: 10px;
    }
}

@media (max-width: 768px) {
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(255, 255, 255);
        top: 50px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 16px;
    }
    nav ul li a {
        font-size: 14px;
    }
    #check:checked~ul {
        left: 0;
    }
    .intro-img {
        width: 230px;
        height: 230px;
    }
    .container h1 {
        font-size: 23px;
    }
    .container p {
        font-size: 14px;
    }
    .intro button {
        padding: 8px 16px;
        font-size: 16px;
    }
    .intro {
        margin-top: 5px;
    }
    .category_card {
        flex-direction: column;
        align-items: center;
    }
    .category_card img {
        width: 100px;
        height: 100px;
    }
    .category_card h2 {
        font-size: 25px;
    }
    .card {
        margin-top: 20px;
        width: 80%;
        height: 120px;
    }
    .shop {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .product {
        margin-bottom: 20px;
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .product img {
        padding-left: 20px;
        padding-right: 20px;
        width: 200px;
        height: 200px;
    }
    .product p {
        margin-right: auto;
        padding-left: 10px;
        font-size: 20px;
    }
    .product a {
        margin-right: auto;
        font-size: 18px;
        padding-left: 10px;
    }
}

@media (max-width:550px) {
    .logo {
        font-size: 25px;
    }
    .intro {
        display: flex;
        flex-direction: column-reverse;
    }
    .half_width {
        width: 100%;
        text-align: center;
    }
    .intro h1 {
        font-size: 28px;
    }
    .half_width img {
        width: 300px;
        height: 300px;
    }
    .intro button {
        padding: 8px 16px;
        font-size: 16px;
    }
    .category_card {
        flex-direction: column;
        align-items: center;
    }
    .category_card img {
        width: 120px;
        height: 120px;
    }
    .category_card h2 {
        font-size: 24px;
    }
    .card {
        margin-top: 30px;
        width: 90%;
        height: 150px;
    }
    .shop {
        flex-direction: column;
        align-items: center;
    }
    .product {
        margin-bottom: 20px;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .product img {
        padding-left: 20px;
        padding-right: 20px;
        width: 200px;
        height: 200px;
    }
    .product p {
        margin-right: auto;
        padding-left: 10px;
        font-size: 20px;
    }
    .product a {
        margin-right: auto;
        font-size: 22px;
        padding-left: 10px;
    }
}